@font-face { 
    font-family: 'Montserrat'; 
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
 }
 @font-face { 
    font-family: 'Montserrat'; 
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
 }
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--bg-text-color);

 }
 img{ 
    pointer-events: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

a{
    text-decoration: none ;
 }


 .switcher{
    display: flex;
}

.switcher__radio{
    opacity: 0;
}


.navbar-img{
    width: 30px;

}
.light-img{
    filter: var(--navbar-light-img);
}
.dark-img{
    filter: var(--navbar-dark-img);
}

 .block-1-bg{
    background: var(--bg-color);
}
.block-1{
    color: var(--bg-text-color);
}
.block-1-user{
    display: flex;
}
.user-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 35px;
    color: var(--bg-text-color);
}

.task-item { display: flex; justify-content: space-between; padding: 10px; border: 1px solid #ccc; margin: 5px; }
/* FOOTER CSS CODE */

.footer{
    background: var(--footer-bg);
    min-height: 200px;

}

.footer-hr{
    margin: 0px auto;
    width: 100%;
    border: var(--footer-hr-border);
    border-bottom: var(--footer-hr-border-bottom);
    background-color: var(--footer-bg-color);  
}


.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: var(--footer-text-color);
}

.authors{
    margin: 50px 80px 0px;
    display: flex;
    vertical-align: middle;
}

/* FOOTER CSS CODE END */
@media (max-width:576px) {
    .block-1-user{
        display: block;
    }
    .block-1-user .col{
        display: flex;
        justify-content: center;
    }
}