body {
    margin: 0;
    padding: 0;


 }
 img{ 
    pointer-events: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

a{
    text-decoration: none;
 }

 @font-face { 
    font-family: 'Montserrat'; 
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
 }


.head-bg{
    background: linear-gradient(57deg, #14213D -4.46%, #000 105.01%);
    min-height: 600px;
}

.block-1{
    color: aliceblue;
    padding-top: 180px;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
}

.block-1-secondary-text{
    color: #DC9F27;
    margin-top: 60px;
}

.block-2{
    background: #14213D;
    min-height: 1000px;
    color: aliceblue;

    font-family: "Montserrat";
    font-weight: 800;
}

.block-2-hr{
    margin: 0px auto;
    width: 100%;
    border: 2px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;   
}
.carousel-item{
    align-items: center;
}

/* FOOTER CSS CODE */

.footer{
    background: #14213D;
    min-height: 600px;

}

.footer-hr{
    margin: 0px auto;
    width: 100%;
    border: 2px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;   
}


.footer-text a{
    color: #FFF;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.footer-text a:hover{
    color:#6D7BFB;
}

.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: #FFF;
}

.footer-secondary-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: #b4b4b4;
}

.authors{
    margin: 50px 80px 0px;
    display: flex;
    vertical-align: middle;
}

.footer-row{
    margin-top: 100px; 
    justify-content: space-evenly; 
}



@media (max-width:767px){
    .footer-row{
        flex-direction: column;
        justify-content: center;
        margin: 100px auto 0px;
        text-align: center;
    }

    .footer-col{
        margin: 0px auto;
    }
}

/* FOOTER CSS CODE END */