body {
    margin: 0;
    padding: 0;

 }
img{ 
    pointer-events: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
 a{
    text-decoration: none;
 }

 .head_bg{
    background: linear-gradient(57deg, #14213D -4.46%, #000 105.01%);
 }
.header {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    min-height: 1px;
    padding: 0;
    height: 800px;
    
}

.main {
    
    min-height: 1px;
    padding: 0;
    height: 3356px;
}
 .footer {
    background: #14213D;
    min-height: 1px;
    padding: 0;
 }
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 15px;
    margin:  0;
    padding-left: 0px;
    padding-top: 50px;
}
.nav-bar .first{
    width: 30%;
}
.nav-bar .fourth{
    padding-right: 8%;
}
@font-face { 
    font-family: 'Montserrat'; 
    font-weight: 400;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
 }
.nav-bar a {
    font-family:'Montserrat';
    color:white;
    font-size: 24px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.nav-bar a:hover{
    color:#6D7BFB;
}

/* BLOCK 1 ----------------*/

.block__1{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block__1_name {
    
    width: 58%;
}
@font-face { 
    font-family: 'Montserrat'; 
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
 }
.block__1_name_1{
    color: white;
    font-size: 58px;
    font-weight: 800;
    font-family: 'Montserrat';
}
.block__1_hr{
    float: left;
    width: 90%;
}
@font-face { 
    font-family: 'Montserrat'; 
    font-weight: 700;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
 }
.block__1_name_2{
    color: white;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.block__1_photo{
    width: 42%;
}
.img_block__1_photo{
    float: right;
    margin-right: 5%;
}

/* BLOCK 1 END----------------*/



/* BLOCK 2 -----------------*/
.block__2{
    margin-top: 10px;
    width: 100%;
    height: 813px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.block__2_bg{
    position: absolute;
    margin-top: 30px;
    margin-left: 18%;
    z-index: -1;
    width: 35%;
    height: 570px;
    border-radius: 30px;
    border: 4px solid #192B4E;
    background: #FFF;
}

.block__2_uni{
    display: flex;
    width: 100%;
}


.block__2_uni_text{
    width: 60%;
    height: 300px;
    border-radius: 30px;
    background: linear-gradient(107deg, #192B4F 8.25%, #010C23 90.44%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    
}
.block__2_uni_text_1{
    padding-top: 60px;
}
.block__2_uni_img{
    margin-top: 80px;
    margin-left: 7%;
}

.block__2_prof{
    display: flex;
    width: 100%;
}
.block__2_prof_img{
    margin-top: 80px;
}
.block__2_prof_text{
    width: 60%;
    height: 300px;
    border-radius: 30px;
    background: linear-gradient(107deg, #192B4F 8.25%, #010C23 90.44%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    margin-left: 7%;
}
.block__3_bg{
    background: #14213D;
}
.block__3{
    margin-top: 10px;
    width: 60%;
    height: 1063px;
    margin-left: 20%;
    margin-right: 20%;
}

.block__3_head{
    display: flex;
    padding-top: 100px;
}
.block__3_head_text{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 15px;
}
.block__3_row_1{
    padding-top: 14px;
    display: flex;
    width: 100%;
    
}
.block__3_linebg_1{
    position: absolute;
    width: 450px;
    height: 180px;
    border-width: 3px 3px 3px 0px;
    border-style: solid;
    border-color: white;
    border-radius: 0px 30px 30px 0px;
    margin-top: 60px;
    margin-left: 38%;
    z-index: 1;
}
.block__3_linebg_2{
    position: absolute;
    width: 250px;
    height: 180px;
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    border-color: white;
    margin-top: 120px;
    margin-left: 20%;
    z-index: 1;
}
.block__3_linebg_3{
    position: absolute;
    width: 250px;
    height: 240px;
    border-width: 3px 0px 3px 3px;
    border-style: solid;
    border-color: white;
    border-radius: 30px 0px 0px 30px;
    margin-top: 120px;
    z-index: 1;
    margin-left: -80px;
}
.block__3_linebg_4{
    position: absolute;
    width: 250px;
    height: 240px;
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    border-color: white;
    margin-top: 150px;
    z-index: 1;
    margin-left: 25%;
}
.block__3_linebg_5{
    position: absolute;
    width: 450px;
    height: 250px;
    border-width: 3px 3px 3px 0px;
    border-style: solid;
    border-color: white;
    border-radius: 0px 30px 30px 0px;
    margin-top: 150px;
    z-index: 1;
    margin-left: 35%;
}
.block__3_row_1_head{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 50px;
    padding-top: 10px;
}
.block__3_row_1_text1{
    display: flex;
    height: 100px;
    width: 40%;
    border-radius: 30px;
    background: #FFF;
    z-index: 2;
}
.block__3_rows_al{
    margin: auto;
}
.block__3_rows_test{
    display: flex;
    
}
.block__3_rows_head{
    color: #000;
    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.block__3_row_2{
    margin-left: 5%;
    display: flex;
}
.block__3_row_2_text1_ph{
    padding-top: 20px;
}
.block__3_row_2_text1{
    display: flex;
    height: 140px;
    width: 45%;
    border-radius: 30px;
    background: #FFF;
    margin-top: 60px;
    text-align: center;
    z-index: 2;
}

.block__3_row_2_text2_ph{
    padding-top: 30px;
}
.block__3_row_2_text2{
    display: flex;
    height: 160px;
    width: 45%;
    border-radius: 30px;
    background: #FFF;
    margin-top: 50px;
    margin-left: 5%;
    text-align: center;
    z-index: 2;
}
.block__3_row_3{
    display: flex;
    margin-left: 2.5%;
}
.block__3_row_3_text1_ph{
    padding-top: 35px;
}
.block__3_row_3_text1{
    display: flex;
    height: 190px;
    width: 50%;
    border-radius: 30px;
    background: #FFF;
    margin-top: 60px;
    text-align: center;
    z-index: 2;
}
.block__3_row_3_text2{
    display: flex;
    height: 140px;
    width: 35%;
    border-radius: 30px;
    background: #FFF;
    margin-top: 80px;
    margin-left: 5%;
    text-align: center;
    z-index: 2;
}
.block__3_row_3_text2_ph{
    padding-top: 20px;
}
.block__3_row_4{
    display: flex;
}
.block__3_row_4_text1{
    display: flex;
    height: 180px;
    width: 75%;
    border-radius: 30px;
    background: #FFF;
    margin-top: 60px;
    text-align: center;
    z-index: 2;
}
.block__4{
    margin-top: 10px;
    width: 60%;
    height: 300px;
    margin-left: 20%;
    margin-right: 20%;
}
.block__4_row_1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.block__4_row_2{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.block__4_row_1_text{
    margin-top: 10px;
    margin-left: 20px;
    color: #192B4F;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.block__4_row_2_text{
    color: #FCA311;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
}
.block__5_bg{

    background: #14213D;
}
.block__5{
    height: 1070px;
    margin-top: 10px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    padding-top: 50px;
}
.block__5_square{
    width: 47%;
    height: 410px;
    border-radius: 40px;
    background: #1A2B50;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 27px;
    padding-top: 30px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.block__5_square:hover{
    box-shadow: 3px 7px 4px 0px #3E3E68;
    transform: translate(-7px, -4px);

}
.block__5_row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.block__5_square_text_1{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.block__5_square_text_2{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}
.block__5_square_photo{
    margin-top: 40px;
}
.footer_main{
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 590px;

}
.footer_hr_1{
    margin: 0;
    width: 100%;
    height: 3px;    
    background: #FFF;
}
.footer_hrefs{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
    
}
.footer_hrefs_3_info{
    display: flex;
}
.footer_hrefs_text_cont{
    padding-right: 35px;
}
.footer_hrefs_text a{
    color: #FFF;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.footer_hrefs_text a:hover{
    color:#6D7BFB;
}
.footer_hrefs_text{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: #FFF;
}
.footer_hr_2{
    width: 100%;
    height: 3px;    
    background: #FFF;
}
.authors{
    margin-top: 35px;
    display: flex;
    vertical-align: middle;
}




 @media (min-width: 992px) {
  
  .main {
    flex: 0 0 100%;
    max-width: 100%;
  }
 }
 @media (min-width: 1400px) {
  .main {
    flex: 0 0 100%;
    max-width: 100%;
  }
 }